
header {
    padding: 20px;
    background-color: #54b0cb;
    text-align: center;
    color: white;
}

h3 {
    margin: 20px 10px 15px 5px;
    text-align: left;
}

.btn {
    background-color: blueviolet;
    color: white;
    height: 38px;
}

.card {
    margin: 10px;
}

.hide {
    border-color: blueviolet;
}

.card-fill {
    background-color: blueviolet;
    color: white;
}